
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    minmax(80px, auto)
    minmax(60px, auto)
    minmax(160px, auto)
    minmax(100px, auto)
    repeat(2, minmax(80px, auto));

  grid-row-gap: 1px;
  grid-column-gap: 1px;
  grid-template-areas: 
    'header'
    'navigation'
    'main'
    'aside-1'
    'aside-2'
    'footer';

}
.pg-header{
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 4;
}
.pg-content{
  grid-area: main;
  grid-column-start: 1;
  grid-column-end: 4; 
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-content: center;
}

.product{
  align-content: center;
  text-align: center;
}

.product:nth-last-of-type(odd){
  background-color: aqua;
}

.wrapper ul{
  list-style: none;
}

.wrapper ul li{
  display: inline;
}

.aside-1{
  grid-area: aside-1;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media screen and (min-width: 476px){
  .container{
    grid-template-columns: auto auto auto;
  }
}